{% extends 'base.html' %}

{% block content %}
<div class="card-body">
    <legend><h3>Kontingent Tələbə hərəkatı</h3></legend>
    <div class="table-responsive">
        <table class="display table table-striped "
            id="zero_configuration_table" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Fakültə adı</th>
                    <th scope="col">İxtisas adı</th>
                    <th scope="col">Kurs</th>
                    <th scope="col">Tələbə ad</th>
                    <th scope="col">Kateqori</th>
                    <th scope="col">Tarix</th>
                    <th scope="col">Əmr</th>
                </tr>
            </thead>
            <tbody>
                {% for row in results %}
                <tr>
                    <th>{{row[0]}}</th>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>
                        {% if row[4] %}
                        {{row[4]}}
                        {% else %}
                        {{row[5]}}
                        {% endif %}

                    </td>
                    <td>{{row[7]}}</td>
                    <td><form action method="POST">
                            <input type="hidden" name="number"
                                value="{{row[8]}}">
                            <button type="submit">{{row[8]}}</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}