

{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{form.faculty_name.label(class="form-control-label")}}
                    {{form.faculty_name(**{"class": "form-control", "hx-get":
                    "/get_professions", "hx-target": "#profession_name"} )}}
                </div>
    
                <div class="form-group">
                    {{form.profession_name.label(class="form-control-label")}}
                    {% if form.profession_name.errors %}
    
                    {{form.profession_name(class="form-control  is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.profession_name.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.profession_name(class="form-control ")}}
                    {% endif %}
                </div>
    
                <div class="form-group">
                    {{form.course_name.label(class="form-control-label")}}
                    
                    {% if form.course_name.errors %}
                    {{form.course_name(**{"class": "form-control is-invalid", "hx-get":
                    "/get_students", "hx-target": "#student_name", "hx-include": "[name='faculty_name'], [name='profession_name']"} )}}
                    <div class="invalid-feedback">
                        {% for error in form.course_name.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.course_name(**{"class": "form-control", "hx-get":
                    "/get_students", "hx-target": "#student_name", "hx-include": "[name='faculty_name'], [name='profession_name']"} )}}
                    {% endif %}
                </div>
    
    
    
                <div class="form-group">
                    {{form.student_name.label(class="form-control-label")}}
                    {% if form.student_name.errors %}
    
                    {{form.student_name(class="form-control  is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.student_name.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.student_name(class="form-control ")}}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{form.email.label(class="form-control-label")}}
                    {% if form.email.errors %}
                    {{form.email(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.email(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{form.phone_number.label(class="form-control-label")}}
                    {% if form.phone_number.errors %}
    
                    {{form.phone_number(class="form-control  is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.phone_number.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.phone_number(class="form-control ")}}
                    {% endif %}
    
    
                    {% if form.phone_number.description %}
                        <small class="form-text text-muted">{{ form.phone_number.description }}</small>
                    {% endif %}
                </div>
    
                
    
                
    
            </fieldset>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script>
    $(document).ready(function() {
        $('#course_name').change(function() {
            var faculty_id = $('select[name="faculty_name"]').val();
            var profession_id = $('select[name="profession_name"]').val();
            var course_name = $(this).val();

            $.ajax({
                url: "{{ url_for('get_students') }}",
                data: {
                    faculty_id: faculty_id,
                    profession_id: profession_id,
                    course_name: course_name
                },
                success: function(data) {
                    var studentSelect = $('#student_name');
                    studentSelect.empty();
                    studentSelect.append('<option value="">---</option>');
                    $.each(data, function(key, value) {
                        studentSelect.append('<option value="' + value[0] + '">' + value[1] + '</option>');
                    });
                }
            });
        });
    });
</script>
    </body>
</html>


{% endblock content %}